
body{
    background: #eeeeec;
    margin: 0%;
    padding: 0%;
    font-family:  'Roboto', Arial, sans-serif;
    min-width: 100vh;
}

header{
    background: blue  ;
    width: 100%;
    height: auto;
    position: relative;
    padding: 0%;
    margin: 0%;
        
}

.name_titulo{
    font-weight: 400;
    font-size: 40px;
    color: #f5f3f3;
    font-weight: 400;
    padding: 0%;
   font-family: 'Times New Roman', Times, serif;
   
}

nav{
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between; /* Alinea el contenido en los extremos */
    align-items: center; /* Centra verticalmente */
    background-color: #333; /* Color de fondo del navbar */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
 }


nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 0;
    color: #f8f6f6;
    padding: 0px 05px;
    margin-right: 15px;   
    width: 40%;
   
         
}
nav a:hover {
    color: #211b42;
    }

nav ul{
    width: 30%;
    display: flex;
    align-items: baseline;
    display: flex; /* Flexbox para alinear horizontalmente */
    list-style-type: none; /* Quita la viñeta de la lista */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
    
}

.navbar li {
    margin-right: 20px; /* Espaciado entre elementos del menú */
}
.container_slider {
    width: 90%;
    max-width: 800px;
    margin: auto;
    position: relative;

  
}


.slider {
    display: flex;
    width: 800%;
    height: 400px;

}


.slider_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
               
.slider__btn {

    width: 50px;
    height: 50px;
    background: #333 ;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    font-weight: bold;
    font-family: monospace;
    text-align:center;
    border-radius: 50px;
    cursor: pointer;
}

.slider__btn :hover {
    background: rgb(212, 208, 219);
}

.slider__btn--right{
    right: 10px;
}

.slider__btn--left {
    left: 10px;
}
.section_01{
    flex: 100%;
    padding: 0px;
   

}
hr {
    height: 7px;
    width: 80%;
    border: 0px;
    background-color: rgb(235, 226, 226);
}

.section_espacios{
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;

}
.container_btn {
   padding: 0%;
   margin-top: 40px; 
   height: 60px;
   display: flex;
   justify-content:space-around;
   align-items: center;

   
}
.breve_descripcion{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 7.5%;
    padding: 0%;
}
.breve_descripcion {
    font-family: 'Times New Roman', Times, serif;
}
.conteiner_descrip {
    display: flex;
    justify-content: center;
    
    

}
.flexSectionDiv {
    height: 50%;
    
}

.titulo_intro{
    font-size: 45px;
  

}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    background-color: #333  ;
    padding: 30px;
    height: 50%;
    margin-bottom: 100px;
    color: white;  
}

.flexContainer div{
    margin: 10px;
    line-height: 75px;
    border: 2px solid gray;
    height: 200px;
    width: 40%;
    padding: 50px;
    margin-bottom: 10px;

        
}

.containerCentral{
    background: url(../images/taza_distontos_tam3d.jpg) no-repeat;
    background-size: cover ;
    padding: 30px;
    width:50;
    
}
.containerCentral01 {
    background: url(../images/remera_negra_hom.jpg) no-repeat;
    background-size: cover ;
    height: 100px;
    width: 100%;
}

.flexContainer aside{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 40%;
    padding: 50px;

}

.tituloAside{
    width: 100%;
    font-size: 40px;
    
}
.btn{
    text-align: center;
    margin-top: 80px;
    background: rgb(216, 216, 214);
    color: rgb(15, 14, 14);
    text-decoration: none;
    font-family: 'Catamaran', sans-serif;
    font-size: medium;
    font-weight: bold;
    width: 100px; 
    border-radius: 15px ;
    padding: 5px;
  
    
          
}
 
   

.btn:hover{
     background: #101138 ;
     color: rgb(240, 247, 238);
}   

.iframUbicacion {
    display: flex;
    justify-content: center;

}
.flex_footer {
    background-color: #333 ;

}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
}
footer ul li{
    display: inline-block;
    
}
footer ul li a{
    padding: 10px;
    color:#fffcfc;
    font-size: 50px;
    margin: 0px 30px;

}
footer a:hover {
     color: #211b42;
    }